<ng-container [ngSwitch]="id">
  <div *ngSwitchCase="'skill-1'">
    <mat-card>
      <mat-card-header>Angular</mat-card-header>
      <mat-card-content>Simple card</mat-card-content>
    </mat-card>
  </div>
  <div *ngSwitchCase="'skill-2'">
    <mat-card>
      <mat-card-header>HTML</mat-card-header>
      <mat-card-content>Simple card</mat-card-content>
    </mat-card>
  </div>
  <div *ngSwitchCase="'skill-3'">
    <mat-card>
      <mat-card-header>CSS</mat-card-header>
      <mat-card-content>Simple card</mat-card-content>
    </mat-card>
  </div>
  <div *ngSwitchCase="'skill-4'">
    <mat-card>
      <mat-card-header>JAVASCRIPT</mat-card-header>
      <mat-card-content>Simple card</mat-card-content>
    </mat-card>
  </div>
  <div *ngSwitchCase="'skill-5'">
    <mat-card>
      <mat-card-header>JAVA</mat-card-header>
      <mat-card-content>Simple card</mat-card-content>
    </mat-card>
  </div>
  <div *ngSwitchCase="'skill-6'">
    <mat-card>
      <mat-card-header>VSCODE</mat-card-header>
      <mat-card-content>Simple card</mat-card-content>
    </mat-card>
  </div>
</ng-container>
