.nav-bar ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 1em;  
    background-color: #4d4d4d;
    margin: 0;

}

.nav-bar ul li {
    color: white;
}

.nav-bar ul li:hover {
    color: #FFC966;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh);
    
}
.circle-container {
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.circle-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.container-name{
    padding: 2em 0em 0em 0em;
    text-align: center;
}

.container-name .label-1{
    text-transform: uppercase;
    font-size: 1.3em;
}
.container-name .label-2{
    font-weight: 800;
    color: #333;
    text-transform: uppercase;
    font-size: 2em;
}

.wrapper button {
    color: black;
    background-color: transparent;
    border: 2px solid black;
    text-transform: uppercase;
}

.btn-social:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
  
/* tablets screen */
@media only screen and (min-width: 768px){
    .wrapper {
        flex-direction: row-reverse;
        justify-content: space-evenly;
        min-height: calc(100vh - 20em);
    }
    
    .container-name  {
        text-align: left;
    }
    .circle-container {
        width: 250px; 
        height: 250px;
        border-radius: 50%;
        overflow: hidden;
    }
}


