<header id="home-page">
  <div class="nav-bar">
    <ul>
      <li><a (click)="scrollToHome()">Home</a></li>
      <li><a (click)="scrollToAbout()">About</a></li>
      <li><a (click)="scrollToSkill()">Skills</a></li>
      <li><a (click)="scrollToContact()">Contact</a></li>
      <li><a>Projects</a></li>
      <li><a>Resume</a></li>
    </ul>
  </div>
</header>

<div class="wrapper">
  <div class="circle-container">
    <img src="assets/img/me.jpg" alt="Paulo Trevor's Profile" />
  </div>
  <div class="container-name">
    <span class="label-1">Hello!</span><br />
    <span class="label-1">I'm Paulo Trevor</span><br />
    <span class="label-2">Aspiring Developer</span>
    <div class="container-contact mt-4">
      <button mat-raised-button (click)="scrollToContact()">contact</button>
    </div>
  </div>
</div>

<app-about></app-about>
<app-skills></app-skills>
<app-contact></app-contact>

<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        (click)="redirectToFb()"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        (click)="redirectToIg()"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        (click)="redirectToLinkedIn()"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023 Copyright :
    <a class="text-white">Paulo Trevor D. Regacho</a>
  </div>
  <!-- Copyright -->
</footer>
