

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
h1 {
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
    
}
.about-content{
   padding: 1em;
   color: white;
   text-align: center;
}
   
/* tablets screen */
@media only screen and (min-width: 768px){
 
    .about-content{
        padding: 4em;
        text-align: left;
      
    }
}

/* desktop */
@media only screen and (min-width: 1024px) {
    .about-content{
        width: 80%;
    }
}