<div id="contact-page" class="wrapper">
    <div class="contact-label">
        <h2>Contact</h2>
    </div>
    <div class="contact-form">
           
        <form>
            <div class="mb-3">
                <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> -->
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your email address">
              </div>
              <div class="mb-3">
                <!-- <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label> -->
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter a Message!"></textarea>
              </div>
              <div class="btn-container">
                <button mat-raised-button>Submit</button>
            </div>
          </form>
             
    </div>
    
</div>