.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    
}

.contact-label {
    text-align: center;
    padding: 1em 0em 1em 0em;
}

.contact-label h2{
    font-weight: 800;
    text-transform: uppercase;
    color: #333;
    font-size: 2em;
}

.contact-form{
    width: 100%;
    padding: 0em 2em 2em 2em;
}
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-container button {
    color: #333333;
    background-color: white;
    text-transform: uppercase;
}

.btn-container button:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
    transition: color 0.5s ease;
    color: #FFC966;
}  

/* tablets screen */
@media only screen and (min-width: 768px) {
    .wrapper {
        display: block;
        padding: 4em;
    }
    
    .contact-label {
        text-align: left;

        padding: 0;
    }
    .contact-form{
       padding: 0;
    }
}

/* desktop */
@media only screen and (min-width: 1024px) {
    .wrapper {
        display: flex;
    }
    .contact-label {
        width: 80%;
      
    }
    .contact-form {
        width: 80%;
    }
}