<div id="skill-page" class="wrapper">
  <div class="skill-label">
    <h2>Skills</h2>
  </div>
  <div class="skills">
    <div class="container-skill">
      <button class="btn-skill" mat-fab (click)="openModal('skill-1')">
        <img src="assets/img/angular.svg" alt="angular" draggable="false" />
      </button>
    </div>
    <div class="container-skill">
      <button class="btn-skill" mat-fab (click)="openModal('skill-2')">
        <img src="assets/img/html.svg" alt="html" draggable="false" />
      </button>
    </div>
    <div class="container-skill">
      <button class="btn-skill" mat-fab (click)="openModal('skill-3')">
        <img src="assets/img/css.svg" alt="css" draggable="false" />
      </button>
    </div>
    <div class="container-skill">
      <button class="btn-skill" mat-fab (click)="openModal('skill-4')">
        <img src="assets/img/js.svg" alt="js" draggable="false" />
      </button>
    </div>
    <div class="container-skill">
      <button class="btn-skill" mat-fab (click)="openModal('skill-5')">
        <img src="assets/img/java.svg" alt="java" draggable="false" />
      </button>
    </div>
    <div class="container-skill">
      <button class="btn-skill" mat-fab (click)="openModal('skill-6')">
        <img src="assets/img/vs-code.svg" alt="vscode" draggable="false" />
      </button>
    </div>
  </div>
  
</div>
