.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2em;
}

.skill-label {
    text-align: center;
}

.skill-label h2 {
    font-weight: 800;
    text-transform: uppercase;
    color: #333;
    font-size: 2em;
}

.container-skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 2em;
}

.btn-skill {
    width: 8em;
    height: 8em;
    background-color: white;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

}

.btn-skill:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.container-skill img {
    width: 5em;
    height: 5em;
}

/* tablets screen */
@media only screen and (min-width: 768px) {
   
    .wrapper {
        padding: 4em;
        display:block;
    }
    
    h2 {
        text-align: left;
        padding: 0;
    }
    .skills {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
      
    }
    
    .container-skill {
        padding: 0;
    }

    .btn-skill {
        width: 5em;
        height: 5em;
    }

    .container-skill img {
        width: 3em;
        height: 3em;
    }
}

/* desktop */
@media only screen and (min-width: 1024px) {
    .wrapper {
        display: flex;
        padding: 4em 5em 4em 5em;
    }
    
    .skill-label {
      
        width: 80%;
    }
    .skills {
     
        width: 80%;
    }

}