.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2em;
}

.skill-label h2{
    font-weight: 800;
    text-transform: uppercase;
    color: #333;
    font-size: 2em;
}
.container-skill {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 70em;
}

.btn-skill{
    width: 10em;
    height: 10em;
    background-color: white;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;         

}

.btn-skill:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.container-skill img {
    width: 7em;
    height: 7em;
}

/* tablets screen */
@media only screen and (min-width: 768px){
    .wrapper {
        display: block;
        padding: 4em;
    }
    .container-skill {
        flex-direction: row;
        justify-content: space-between;
        height: 0%
    }
    
    .btn-skill{
        width: 5em;
        height: 5em;
    }
    
    .container-skill img {
        width: 3em;
        height: 3em;
    }
}
