
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-user-select: none; /* Disable text selection for Chrome, Safari, and Opera */
  -moz-user-select: none; /* Disable text selection for Firefox */
  -ms-user-select: none; /* Disable text selection for Internet Explorer and Edge */
  user-select: none; /* Disable text selection for all other browsers */


}

html, body {
    scroll-behavior: smooth;
}   

p {
  font-size: 1.2em;
}